.hero {
    background: var(--primary-color);
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}


.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}


a {
    color: var(--secondary-color);
    text-decoration: none;
    text-decoration-color: var(--primary-color);
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
    color: var(--secondary-color);
}

.logo:hover {
    cursor: default;
}

#toggle_icon {
    width: 30px;
    cursor: pointer;
}